.erro {
    padding: 20px;
    color: white;
}

button {
    color: blueviolet;
}

img {
    width: 120px;
    border-radius: 40px;
    margin: auto;
    display: block;
    margin-top: 10px;

}

#dados {
    background-color: rgb(92, 8, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    color: white;
}

#dados p {
    color: white;
}

#btnConsultarPerfil{
    background-color: rgb(92, 8, 171);
}

.logo{
    width: 80px;
        
}